# Python
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Datos de entrenamiento (descargar data.zip)
data/
data_raw/

# Archivos temporales
*.tmp
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
